$feature-flags: (
  ui-shell: true,
  grid-columns-16: true,
);

@import '@carbon/themes/scss/themes';
// Use the gray 100 theme
$carbon--theme: $carbon--theme--g100;
@include carbon--theme();

@import 'carbon-components/scss/globals/grid/_grid.scss';
@import 'carbon-components/scss/components/date-picker/_date-picker.scss';
@import 'carbon-components/scss/components/button/_button.scss';
@import 'carbon-components/scss/components/loading/_loading.scss';
@import 'carbon-components/scss/components/tag/_tag.scss';

@import 'carbon-components/scss/components/ui-shell/_header.scss';
@import 'carbon-components/scss/components/ui-shell/_header-panel.scss';
@import 'carbon-components/scss/components/ui-shell/_theme.scss';
@import 'carbon-components/scss/components/ui-shell/_ui-shell.scss';
@import 'carbon-components/scss/components/ui-shell/_variables.scss';
@import 'carbon-components/scss/components/ui-shell/_content.scss';
@import 'carbon-components/scss/components/ui-shell/_functions.scss';

@import '@carbon/type/scss/type';
@include carbon--type-reset();

.fitler__content {
  padding-top: $spacing-05;
  padding-bottom: $spacing-07;
}

.page__content {
  background-color: $gray-100;
  color: $text-01;
  min-height: 100vh;
}

.align-center {
  align-items: center;
}

.pts1 {
  padding-top: $spacing-01;
}
.pts2 {
  padding-top: $spacing-02;
}
.pbs1 {
  padding-bottom: $spacing-01;
}
.pbs2 {
  padding-bottom: $spacing-02;
}
.ps1 {
  padding: $spacing-01;
}
.ps2 {
  padding: $spacing-02;
}

.ptl1 {
  padding-top: $layout-01;
}
.ptl2 {
  padding-top: $layout-02;
}
.pbl1 {
  padding-bottom: $layout-01;
}
.pbl2 {
  padding-bottom: $layout-02;
}
.pl1 {
  padding: $layout-01;
}
.pl2 {
  padding: $layout-02;
}

.games-table__date {
  padding-bottom: $layout-03;
}

.games-table__game-row {
  padding-bottom: $layout-03;
  align-items: center;
}

.games-table__title {
  @include carbon--type-style('productive-heading-03');
}

.games-table__time {
  @include carbon--type-style('productive-heading-02');
}

.filter__tag {
  cursor: pointer;
}
